@charset "utf-8";

/* normalize */
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* style */

:root {
  /* colors */
  --primary: #1d4a84;
  --primary-dim: #09182b;
  --Primary_Container: #d4e7ff;
  --Primary_On: #f2f8ff;

  --Secondary: #528dce;
  --Secondary_Dim: #192c40;
  --Secondary_Container: #c2d9f2;
  --Secondary_On: #f5f7fa;

  --Tertiary: #c3d1df;
  --Tertiary_Dim: #212426;
  --Tertiary_On: #f2f9ff;

  --White: #fafbfc;
  --White_Dimmed: #eaeaea;
  --Gray: #969696;
  --GrayDim: #3c3c3c;
  --Black: #0a0a0a;

  /* font */
  --KR-LetterSpacing: -0.05px;
  --Title: 700;
  --Title-XL: 7.2rem;
  --Title-L: 6.4rem;
  --Title-M: 4.8rem;
  --Title-S: 4rem;
  --SubTitle: 500;
  --Subtitle-L: 4rem;
  --Subtitle-M: 3.2rem;
  --Subtitle-S: 2.4rem;
  --Heading: 600;
  --Heading-L: 3.2rem;
  --Heading-M: 2.8rem;
  --Heading-S: 2rem;
  --subHeading: 700;
  --subHeading-M: 2rem;
  --Body-Default: 400;
  --Body-Strong: 600;
  --Body-L: 2rem;
  --Body-M: 1.8rem;
  --Body-S: 1.4rem;
}

html {
  font-size: 0.52083333vw;
}

/* libs */
.img-box,
.svg-box,
.ico-box {
  display: flex;
  line-height: 0;
  overflow: hidden;

  img {
    max-width: 100%;
    object-fit: cover;
  }
}
.sec-wrap {
  max-width: 160rem;
  width: 100%;
  margin: 0 auto;
}

/* body */
body {
  font-family: "Inter", "Pretendard Variable", sans-serif;
  /* background-color: #09182b; */
}

header {
  --header-font-color: var(--White);
  --header-bg-color: rgba(255, 255, 255, 0.1);

  height: 9rem;
  background-color: var(--header-bg-color);
  backdrop-filter: blur(12px);
  color: var(--header-font-color);
  border-bottom: 0.1px solid var(--header-bg-color);
}

header > .inner {
  max-width: 160rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

header > .inner > .logo {
  padding: 2.4rem;
  transition: all 0.2s;

  img {
    width: 15rem;
  }
  .black {
    display: none;
  }

  &:hover {
    transform: scale(1.05);
  }
}

header > .inner > .menu-box {
  margin-left: auto;
  display: flex;
  align-items: center;

  .menu {
    display: flex;
    align-items: center;
    font-size: var(--Body-L);
    font-weight: var(--Body-Strong);

    > li > a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2.4rem 3.2rem;

      span {
        display: inline-block;
        position: relative;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 2px;
          margin-top: 0.5rem;
          background-color: var(--header-font-color);
          transform: scaleX(0);
          opacity: 0;
          transition: all 0.3s;
        }
      }

      &:hover {
        span::after {
          transform: scaleX(1);
          opacity: 1;
        }
      }
    }
  }

  .lang {
    padding: 2.4rem 3.2rem;
    cursor: pointer;

    .ico-box {
      padding: 0.8rem 1.6rem;
      border-radius: 9.9rem;
      border: 1px solid var(--header-font-color);
      transition: all 0.2s;

      &:hover {
        background-color: var(--header-bg-color);
        border-color: transparent;
      }
    }
  }
}

/* header invert */
header.invert {
  --header-font-color: var(--Black);
  --header-bg-color: rgba(0, 0, 0, 0.1);

  .logo {
    .white {
      display: none;
    }
    .black {
      display: block;
    }
  }
}

/* hero section */
