@charset "utf-8";

/* normalize */
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* style */

:root {
  /* colors */
  --primary: #1d4a84;
  --primary-dim: #09182b;
  --Primary_Container: #d4e7ff;
  --Primary_On: #f2f8ff;

  --Secondary: #528dce;
  --Secondary_Dim: #192c40;
  --Secondary_Container: #c2d9f2;
  --Secondary_On: #f5f7fa;

  --Tertiary: #c3d1df;
  --Tertiary_Dim: #212426;
  --Tertiary_On: #f2f9ff;

  --White: #fafbfc;
  --White_Dimmed: #eaeaea;
  --Gray: #969696;
  --GrayDim: #3c3c3c;
  --Black: #0a0a0a;

  /* font */
  --KR-LetterSpacing: -0.05px;
  --Title: 700;
  --Title-XL: 7.2rem;
  --Title-L: 6.4rem;
  --Title-M: 4.8rem;
  --Title-S: 4rem;
  --SubTitle: 500;
  --Subtitle-L: 4rem;
  --Subtitle-M: 3.2rem;
  --Subtitle-S: 2.4rem;
  --Heading: 600;
  --Heading-L: 3.2rem;
  --Heading-M: 2.8rem;
  --Heading-S: 2rem;
  --subHeading: 700;
  --subHeading-M: 2rem;
  --Body-Default: 400;
  --Body-Strong: 600;
  --Body-L: 2rem;
  --Body-M: 1.8rem;
  --Body-S: 1.4rem;
}

html {
  font-size: 0.52083333vw;
}

/* libs */
.img-box,
.svg-box,
.ico-box {
  display: flex;
  line-height: 0;
  overflow: hidden;

  img {
    max-width: 100%;
    object-fit: cover;
  }
}
.sec-wrap {
  max-width: 160rem;
  width: 100%;
  margin: 0 auto;
}

/* ----------------------------- component ----------------------------- */
/* button */
button {
  padding-inline: 0;
  padding-block: 0;
  margin: 0;

  --button-color: var(--White);
  --button-HoverColor: var(--Black);

  color: var(--button-color);
  min-width: 15rem;
  padding: 1.2rem 3.6rem;
  font-size: 1.8rem;
  border-radius: 0.4rem;
  border: none;
  font-size: var(--Body-M);
  font-weight: 500;
  transition: all 0.3s;
  cursor: pointer;
}

button.lined {
  background-color: transparent;
  border: 0.1rem solid var(--button-color);
}

button.lined:hover {
  background-color: var(--button-color);
  color: var(--button-HoverColor);
  border-color: transparent;
}

/* ----------------------------- body ----------------------------- */
body {
  font-family: "Inter", "Pretendard Variable", sans-serif;
  line-height: 1.5;
  /* background-color: #09182b; */
}

/* ----------------------------- header ----------------------------- */
header {
  --header-font-color: var(--White);
  --header-bg-color: rgba(255, 255, 255, 0.1);

  height: 9rem;
  width: 100%;
  background-color: var(--header-bg-color);
  backdrop-filter: blur(12px);
  color: var(--header-font-color);
  border-bottom: 0.1px solid var(--header-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

header > .inner {
  max-width: 160rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

header > .inner > .logo {
  padding: 2.4rem;
  transition: all 0.2s;

  img {
    width: 15rem;
  }
  .black {
    display: none;
  }
}

header > .inner > .menu-box {
  margin-left: auto;
  display: flex;
  align-items: center;

  .menu {
    display: flex;
    align-items: center;
    font-size: var(--Body-L);
    font-weight: var(--Body-Strong);

    > li > a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2.4rem 3.2rem;

      span {
        display: inline-block;
        position: relative;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 0.2rem;
          border-radius: 1rem;
          margin-top: 0.5rem;
          background-color: var(--header-font-color);
          transform: scaleX(0);
          opacity: 0;
          transition: all 0.3s;
        }
      }

      &:hover {
        span::after {
          transform: scaleX(1);
          opacity: 1;
        }
      }
    }
  }

  .lang {
    padding: 2.4rem 3.2rem;
    cursor: pointer;

    .ico-box {
      padding: 0.8rem 1.6rem;
      border-radius: 9.9rem;
      border: 1px solid var(--header-font-color);
      transition: all 0.2s;

      &:hover {
        background-color: var(--header-bg-color);
        border-color: transparent;
      }
    }
  }
}

/* header invert */
header.invert {
  --header-font-color: var(--Black);
  --header-bg-color: rgba(0, 0, 0, 0.1);

  .logo {
    .white {
      display: none;
    }
    .black {
      display: block;
    }
  }
}

/* ----------------------------- hero section ----------------------------- */
.hero-swiper {
  width: 100%;
  height: 100dvh;
}

.hero-swiper .swiper-slide {
  overflow: hidden;
  .slide-box {
    width: 100%;
    height: 100%;
  }
}
.hero-swiper .img-box {
  width: 100%;
  height: 100%;
  position: relative;

  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.3), transparent);
  }

  img {
    width: 100%;
    height: 100%;
    object-position: center;
    transform: scale(1.2);
    transition: all 6s ease-out;
  }

  img.scaleUp {
    transform: scale(1);
  }
}

.hero-swiper .text-box {
  position: absolute;
  top: 50%;
  left: 16rem;
  transform: translate(0, -40%);
  transition: all 0.8s;

  color: var(--White);

  h3 {
    font-size: var(--Title-XL);
    font-weight: var(--Title);
    transition: inherit;
    transition-delay: 0.2s;

    transform: translateY(100%);
    opacity: 0;
  }
  p {
    font-size: var(--Subtitle-M);
    font-weight: var(--SubTitle);
    transition: inherit;
    transition-delay: 0.4s;

    transform: translateY(100%);
    opacity: 0;
  }

  .btn-wrap {
    margin-top: 3rem;
    transition: inherit;
    transition-delay: 0.6s;

    transform: translateY(100%);
    opacity: 0;
  }
}

.hero-swiper .swiper-btns {
  > div {
    position: absolute;
    z-index: 1;
    padding: 1.6rem;
    border-radius: 0.6rem;
    background-color: rgba(0, 0, 0, 0.25);
    translate: 0 -50%;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .next {
    top: 50%;
    right: 4rem;
  }

  .prev {
    top: 50%;
    left: 4rem;
  }
}

.hero-swiper .swiper-pagination {
  left: initial;
  width: initial;
  right: 4rem;
  bottom: 4rem;
  z-index: 1;
  font-size: var(--Body-M);
  font-weight: 500;
  padding: 1.6rem;
  border-radius: 0.6rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--White);

  display: flex;
  gap: 1rem;

  > span {
    display: block;
    width: 2.4rem;
    height: 2.4rem;
  }
}

/* ani */
.hero-swiper .swiper-slide-active {
  width: 100%;

  img {
    transform: scale(1);
  }

  img.scaleUp {
    transform: scale(1.2);
  }

  .text-box {
    h3 {
      transform: translateY(0);
      opacity: 1;
    }

    p {
      transform: translateY(0);
      opacity: 1;
    }

    .btn-wrap {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

/* ----------------------------- sec-1 ----------------------------- */

/* ----------------------------- sec-2 ----------------------------- */

/* ----------------------------- sec-3 ----------------------------- */

/* ----------------------------- sec-4 ----------------------------- */

/* ----------------------------- sec-5 ----------------------------- */
