@charset "utf-8";

/* normalize */
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* style */

:root {
  /* colors */
  --primary: #1d4a84;
  --primary-dim: #09182b;
  --Primary_Container: #d4e7ff;
  --Primary_On: #f2f8ff;

  --Secondary: #528dce;
  --Secondary_Dim: #192c40;
  --Secondary_Container: #c2d9f2;
  --Secondary_On: #f5f7fa;

  --Tertiary: #c3d1df;
  --Tertiary_Dim: #212426;
  --Tertiary_On: #f2f9ff;

  --White: #fafbfc;
  --White_Dimmed: #eaeaea;
  --Gray: #969696;
  --GrayDim: #3c3c3c;
  --Black: #0a0a0a;

  /* font */
  --KR-LetterSpacing: -0.05px;
  --Title: 700;
  --Title-XL: 7.2rem;
  --Title-L: 6.4rem;
  --Title-M: 4.8rem;
  --Title-S: 4rem;
  --SubTitle: 500;
  --Subtitle-L: 4rem;
  --Subtitle-M: 3.2rem;
  --Subtitle-S: 2.4rem;
  --Heading: 600;
  --Heading-L: 3.2rem;
  --Heading-M: 2.8rem;
  --Heading-S: 2rem;
  --subHeading: 700;
  --subHeading-M: 2rem;
  --Body-Default: 400;
  --Body-Strong: 600;
  --Body-L: 2rem;
  --Body-M: 1.8rem;
  --Body-S: 1.4rem;
}

html {
  font-size: 0.52083333vw;
}

/* libs */
.img-box,
.svg-box,
.ico-box {
  position: relative;
  display: flex;
  line-height: 0;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
    user-select: none;
  }
}
.sec-wrap {
  max-width: 160rem;
  width: 100%;
  margin: 0 auto;
}

/* ----------------------------- component ----------------------------- */
/* button */
button {
  padding-inline: 0;
  padding-block: 0;
  margin: 0;

  --button-color: var(--White);
  --button-HoverColor: var(--Black);

  color: var(--button-color);
  min-width: 15rem;
  font-size: 1.8rem;
  border-radius: 0.4rem;
  border: none;
  font-size: var(--Body-M);
  font-weight: 500;
  transition: all 0.3s;
  cursor: pointer;

  > a {
    display: block;
    padding: 1.2rem 3.6rem;
  }
}

button.lined {
  background-color: transparent;
  border: 0.1rem solid var(--button-color);
}

button.lined:hover {
  background-color: var(--button-color);
  color: var(--button-HoverColor);
  border-color: transparent;
}

/* ----------------------------- body ----------------------------- */
body {
  font-family: "Inter", "Pretendard Variable", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  /* background-color: #09182b; */
}

/* ----------------------------- header ----------------------------- */
header {
  --header-font-color: var(--White);
  --header-bg-color: rgba(200, 200, 200, 0.1);

  height: 9rem;
  width: 100%;
  background-color: var(--header-bg-color);
  backdrop-filter: blur(6px) saturate(0.8);
  color: var(--header-font-color);
  border-bottom: 0.1px solid var(--header-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

header > .inner {
  max-width: 160rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

header > .inner > .logo {
  transition: all 0.2s;

  a {
    display: block;
    padding: 2.4rem;
  }

  img {
    width: 15rem;
  }
  .black {
    display: none;
  }
}

header > .inner > .menu-box {
  margin-left: auto;
  display: flex;
  align-items: center;

  .menu {
    display: flex;
    align-items: center;
    font-size: var(--Body-L);
    font-weight: var(--Body-Strong);

    > li > a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2.4rem 3.2rem;

      span {
        display: inline-block;
        position: relative;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 0.2rem;
          border-radius: 1rem;
          margin-top: 0.5rem;
          background-color: var(--header-font-color);
          transform: scaleX(0);
          opacity: 0;
          transition: all 0.3s;
        }
      }

      &:hover {
        span::after {
          transform: scaleX(1);
          opacity: 1;
        }
      }
    }
  }

  .lang {
    padding: 2.4rem 3.2rem;

    .ico-box {
      cursor: pointer;
      padding: 0.8rem 1.6rem;
      border-radius: 9.9rem;
      border: 1px solid var(--header-font-color);
      transition: all 0.2s;

      &:hover {
        background-color: var(--header-bg-color);
        border-color: transparent;
      }
    }
  }
}

/* header invert */
header.invert {
  --header-font-color: var(--Black);
  --header-bg-color: rgba(255, 255, 255, 0.4);

  .logo {
    .white {
      display: none;
    }
    .black {
      display: block;
    }
  }
}

/* ----------------------------- hero section ----------------------------- */
.hero-swiper {
  width: 100%;
  height: 100dvh;
}

.hero-swiper .swiper-slide {
  overflow: hidden;
  .slide-box {
    width: 100%;
    height: 100%;
  }
}
.hero-swiper .img-box {
  width: 100%;
  height: 100%;
  position: relative;

  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.3), transparent);
  }

  img {
    width: 100%;
    height: 100%;
    object-position: center;
    transform: scale(1.2);
    transition: all 6s ease-out;
  }

  img.scaleUp {
    transform: scale(1);
  }
}

.hero-swiper .text-box {
  position: absolute;
  top: 50%;
  left: 16rem;
  transform: translate(0, calc(-50% + 4.5rem));
  transition: all 0.8s;

  color: var(--White);

  h3 {
    font-size: var(--Title-XL);
    font-weight: var(--Title);
    transition: inherit;
    transition-delay: 0.2s;

    transform: translateY(100%);
    opacity: 0;
  }
  p {
    font-size: var(--Subtitle-M);
    font-weight: var(--SubTitle);
    transition: inherit;
    transition-delay: 0.4s;

    transform: translateY(100%);
    opacity: 0;
  }

  .btn-wrap {
    margin-top: 3rem;
    transition: inherit;
    transition-delay: 0.6s;

    transform: translateY(100%);
    opacity: 0;
  }
}

.hero-swiper .swiper-btns {
  > div {
    position: absolute;
    z-index: 1;
    padding: 1.6rem;
    border-radius: 0.6rem;
    background-color: rgba(0, 0, 0, 0.25);
    translate: 0 calc(-50% + 4.5rem);
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .next {
    top: 50%;
    right: 4rem;
  }

  .prev {
    top: 50%;
    left: 4rem;
  }
}

.hero-swiper .swiper-pagination {
  left: initial;
  width: initial;
  right: 4rem;
  bottom: 4rem;
  z-index: 1;
  font-size: var(--Body-M);
  font-weight: 500;
  padding: 1.6rem;
  border-radius: 0.6rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--White);

  display: flex;
  gap: 1rem;

  > span {
    display: block;
    width: 2.4rem;
    height: 2.4rem;
  }
}

/* ani */
.hero-swiper .swiper-slide-active {
  width: 100%;

  img {
    transform: scale(1);
  }

  img.scaleUp {
    transform: scale(1.2);
  }

  .text-box {
    h3 {
      transform: translateY(0);
      opacity: 1;
    }

    p {
      transform: translateY(0);
      opacity: 1;
    }

    .btn-wrap {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

/* ----------------------------- sec-1 ----------------------------- */
.sec-1 {
  position: relative;
  overflow: hidden;
}
.sec-1 .container {
  position: relative;
}
.sec-1 .img-container {
  height: 100dvh;
  display: flex;
  align-items: center;
}

.sec-1 .img-container .inner {
  /* width: 300vw; */
  height: 100%;
  padding: 0 calc(100vw + 20rem) 0 100vw;
  display: flex;
  align-items: center;
  gap: 20rem;
  position: relative;
  background: linear-gradient(90deg, var(--primary-dim) 33%, var(--Secondary) 66%, var(--White));

  .img-box {
    display: flex;
    align-items: start;
    width: 52rem;
    height: 60rem;

    img {
      aspect-ratio: 11/6;
      filter: brightness(0.8);
      border-radius: 0.8rem;
    }
  }

  .img-box:nth-child(2n) {
    align-items: end;
  }
  .img-box:nth-child(6) {
    position: absolute;
    height: 100vh;
    top: 0%;
    right: calc(100vw - 52rem);
    align-items: center;
  }
}

.sec-1 .text-box {
  position: absolute;
  z-index: 1;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  color: var(--White);

  h2 {
    font-size: var(--Title-L);
    line-height: 1.3;
  }
  p {
    margin-top: 2rem;
    font-size: var(--Subtitle-S);
    line-height: 1.6;
  }
}

/* ----------------------------- sec-2 ----------------------------- */
.sec-2 {
  background-color: var(--primary-dim);
  color: var(--White);
  padding-bottom: 22.4rem;
}

.sec-2 .head {
  padding: 22.4rem;
  text-align: center;

  h2 {
    font-weight: var(--Title);
    font-size: var(--Title-L);
    letter-spacing: 0;
  }

  p {
    font-weight: var(--SubTitle);
    font-size: var(--Subtitle-S);
    line-height: 1.8;
  }
}

.sec-2 a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-2 .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 160rem;
  width: 100%;
  margin: 0 auto;
}

.sec-2 .card {
  display: flex;
  align-items: center;
  height: 60rem;
  > a {
    position: relative;
    width: 80rem;
    height: 50%;
    overflow: hidden;
    border-radius: 0.8rem;

    .text-box {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 4.8rem;
      transform: translateY(-50%);

      h3 {
        font-size: 3.2rem;
        font-weight: var(--Body-Strong);
      }

      p {
        font-size: var(--Body-L);
        font-weight: var(--Body-Default);
      }
    }
    .img-box {
      img {
        height: 100%;
      }

      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.75), transparent);
      }
    }
  }
}

/* ----------------------------- sec-3 ----------------------------- */
.sec-3 {
  background-color: var(--Secondary_On);
}
.sec-3 .head {
  position: relative;
  height: 100dvh;
}

.sec-3 .head .text-box {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  transform: translate(0, -50%);
  text-align: center;
  line-height: 1.3;
  h2 {
    font-weight: var(--Title);
    font-size: var(--Title-L);
    color: var(--Secondary_Dim);
    letter-spacing: 0;
  }

  h4 {
    font-weight: var(--SubTitle);
    font-size: var(--Subtitle-M);
  }

  p {
    font-weight: var(--Body-Default);
    font-size: var(--Body-M);
    line-height: 1.8;
    margin-top: 2.4rem;
    background-color: var(--Secondary_On);
  }
}

.sec-3 .body {
  width: 100%;
  height: 100dvh;
  padding-bottom: 12rem;
  overflow: hidden;
}

.sec-3 .card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12rem;
}

.sec-3 .card {
  position: relative;
  flex-shrink: 0;
  width: 160rem;
  height: 80rem;
  color: var(--White);
  border-radius: 0.8rem;
  overflow: hidden;

  .text-box {
    position: absolute;
    top: 50%;
    left: 9.6rem;
    transform: translate(0, -50%);

    h3 {
      font-weight: var(--Heading);
      font-size: var(--Heading-M);
    }
    h2 {
      font-weight: var(--Title);
      font-size: var(--Title-M);
      line-height: 1.3;
      margin-top: 1rem;
    }
    p {
      font-weight: var(--Body-Default);
      font-size: var(--Body-L);
      line-height: 1.8;
      margin-top: 2rem;
    }
    .btn-wrap {
      margin: 6rem 0 0 0.4rem;
    }
  }

  .img-box {
    filter: brightness(0.6);
    img {
      height: 100%;
    }
  }
}

.sec-3 .card-1 {
  z-index: 1;
}
.sec-3 .card-2 {
  z-index: 2;
}
.sec-3 .card-3 {
  z-index: 3;
}
.sec-3 .card-4 {
  z-index: 4;
}

/* ----------------------------- sec-4 ----------------------------- */
.sec-4 {
  background-color: var(--Tertiary_Dim);
  color: var(--White);

  .inner {
    display: flex;
    padding: 25rem 0;
  }
}

.sec-4 .left {
  width: 77rem;
  flex: auto 0 0;
}

.sec-4 .left .img-box {
  height: 30rem;

  img {
    filter: brightness(0.8);
    border-radius: 0 0 10px 0;
  }
}

.sec-4 .left .text-box {
  padding-left: 16rem;
  margin-top: 5.6rem;

  h2 {
    font-weight: var(--Title);
    font-size: var(--Title-L);
    color: var(--Tertiary_On);
    letter-spacing: 0;
  }
  p {
    font-weight: var(--Body-Default);
    font-size: var(--Body-M);
    margin-top: 1.2rem;
    line-height: 1.8;
  }
  .btn-wrap {
    display: flex;
    width: 100%;
    justify-content: end;
    margin-top: 3.6rem;
  }
}

.sec-4 .right {
  position: relative;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    display: block;
    top: -1%;
    left: 0;
    width: 10rem;
    height: 102%;
    background: linear-gradient(90deg, var(--Tertiary_Dim) 33%, transparent);
    pointer-events: none;
  }
}

.sec-4 .right .swiper {
  height: 64rem;
  margin: 0 5rem 5rem 10rem;
  overflow: visible;
}

.sec-4 .right .swiper-slide {
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 0.8rem;
  background: linear-gradient(var(--Tertiary_Dim), var(--Tertiary_Dim)) padding-box, linear-gradient(135deg, #373c40, #212426) border-box;
  border: 2px solid transparent;
  transition: box-shadow 0.4s;

  &:hover {
    box-shadow: 8px 16px 30px rgba(0, 0, 0, 0.7);
  }
}

.sec-4 .right .swiper .swiper-slide a {
  position: relative;
  display: block;
  height: 100%;
  transition: background-color 0.4s;

  dl {
    position: absolute;
    inset: 0 0 0 0;
    display: flex;
    flex-direction: column;
    padding: 3.6rem;

    .tag {
      font-weight: var(--Body-Strong);
      font-size: var(--Body-M);
    }
    .name {
      font-weight: var(--Title);
      font-size: var(--Title-S);
    }

    dd {
      font-size: var(--Body-M);
      align-self: end;
      color: var(--Gray);
      margin-top: auto;
    }
  }

  .img-box {
    position: relative;
    height: 100%;
    width: 100%;
    transform: scale(0.7);
    transition: opacity 0.4s;

    img {
      transition: inherit;
    }
    img:nth-child(1) {
      opacity: 0;
    }

    .hover {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 42rem;
      transform: translate(-50%, -50%);
    }
  }

  &:hover {
    background-color: #26292b;

    .img-box {
      img:nth-child(1) {
        opacity: 1;
      }
      .hover {
        opacity: 0;
      }
    }
  }
}
.sec-4 .right .swiper .swiper-slide:nth-child(2) a .img-box .hover {
  width: 48rem;
}
.sec-4 .right .swiper .swiper-slide:nth-child(3) a .img-box .hover {
  width: 48rem;
}

/* ----------------------------- sec-5 ----------------------------- */

.sec-5 {
  background-color: var(--White);
  padding: 20rem 0;
}

.sec-5 .head {
  h2 {
    font-weight: var(--Title);
    font-size: var(--Title-L);
    color: var(--primary);
  }

  p {
    font-weight: var(--SubTitle);
    font-size: var(--Subtitle-S);
  }
}

.sec-5 > .content-wrap {
  width: 100%;
  max-width: 160rem;
  margin: 0 auto;
}

.sec-5 .news {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 10rem;
}
.sec-5 .news .swiper-container {
  overflow: hidden;
  margin-left: -0.8rem;
  padding: 0.8rem 3rem 4rem 0.8rem;
}
.sec-5 .news .swiper {
  width: 100%;
  height: 55rem;
  overflow: visible;
}

.sec-5 .news .card {
  overflow: hidden;
  border-radius: 0.8rem;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 8px 16px 24px rgba(0, 0, 0, 0.3);

    a .img-box > img {
      filter: brightness(1);
    }
  }

  a {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .text-box {
    display: flex;
    flex-direction: column;
    padding: 2.4rem 3.2rem;
    min-height: 20rem;

    dt.tag {
      font-size: 1.6rem;
      font-weight: var(--Body-Strong);
      color: var(--primary);
      letter-spacing: 0;
      margin-bottom: 1.4rem;
    }

    dt {
      font-size: var(--Heading-L);
      font-weight: var(--Heading);
      color: var(--primary-dim);
      max-height: 11rem;
      line-height: 1.3;
    }

    dd {
      font-weight: var(--Body-Default);
      font-size: var(--Body-M);
      color: var(--Gray);
      letter-spacing: 0;
      margin: auto 0 0 0.4rem;
    }
  }

  .img-box {
    background-color: var(--GrayDim);
    flex-grow: 1;
    img {
      filter: brightness(0.8);
      transition: all 0.3s;
    }
  }
}

.sec-5 .cont-2 {
  padding-right: 3rem;
  height: 55rem;
  .inner {
    display: flex;
    height: 100%;
    gap: 4rem;
    > .card {
      flex: 1 1 0;
      height: 100%;
    }
  }
}

.sec-5 .btn-container {
  margin-top: 10rem;
  height: 30rem;
  padding: 0 3rem 0 0;

  > .btn-wrap {
    display: flex;
    gap: 2rem;
    height: 100%;
  }

  .btn {
    flex-grow: 1;
    overflow: hidden;
    border-radius: 0.8rem;

    > a {
      position: relative;
      display: flex;
      height: 100%;
      width: 100%;
    }

    &:hover {
      a > .img-box {
        > img {
          transform: scale(1.05);
          filter: blur(0);
        }

        &::after {
          opacity: 0.5;
        }
      }
    }
  }

  .text-box {
    position: absolute;
    z-index: 2;
    inset: 0 0 0 0;
    padding: 2.4rem;
    color: var(--White);

    dt {
      font-weight: 700;
      font-size: 4rem;
      letter-spacing: 0;
    }
    dd {
      font-weight: 500;
      font-size: 2rem;
    }
  }

  .img-box {
    flex: 1 0 auto;
    transition: all 0.3s;

    img {
      filter: blur(2px);
      transition: inherit;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      inset: 0 0 0 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
      transition: all 0.3s;
    }
  }
}

/* ----------------------------- tool tip ----------------------------- */
.tooltip-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  pointer-events: none;
  font-size: var(--Body-S);
  font-weight: var(--Body-Default);
  padding: 1rem 1.6rem;
  background-color: var(--White);
  color: var(--Black);
  border-radius: 9rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility;
  transition-duration: 0.2s;
  transition-delay: 0s;
}

.tooltip-box.active {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.4s;
}
